.git
.env
.DS_Store
airflow_settings.py
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
titanic/
logs/
tests/
plugins/
Titanic_MLOps.egg-info/
include/
.astro/